
ion-content {
  --background: url(/) no-repeat center/cover fixed;
}
.headerCont{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  background-color: #3E2D44;
  position: relative;
  color: #d4d2d4;
  font-family: suez;
}
.logo{
  display: flex;
}
.logo img{
  height: 8vh;
}
.logo h3{
  font-size: 1.9vw;
  margin: auto auto;
}
#theLogo{
  margin: auto auto;
}
.headerCont span{
  align-self: center;
  text-align: center;
}
.headerCont span:hover{
  transition: font-size .5s ease-out ;
  font-size: 1.7vw;
  cursor: pointer;
}

//-------------------------------------------------------
.contentCont{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #e4dcff;
}
.displayCont{
  width: 60vw;
  height: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 3vh auto;
  box-shadow: 0 10px 20px 0 rgba($color: #000000, $alpha: .1),
  0 0 5px 0 rgba($color: #000000, $alpha: .9);
}
.darkBackground{
  background-color: #3E2D44;
  position: relative;
  overflow: hidden;
  width: 30vw;
  
}
.board{
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 30vw;
  height: 30vw;
  background: #d4d2d4;
  box-shadow: 0 10px 20px 0 rgba($color: #000000, $alpha: .1),
  0 0 5px 0 rgba($color: #000000, $alpha: .9);
  margin: 0 auto;
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.board:hover {
  cursor: pointer;
}
.ofTheDayCont{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 30vw 30vh;
  overflow: hidden;
}
.gamePuzzle{
  display: flex;
  background-color: #3E2D44;
  color: white;
  width: 70%;
  height: fit-content;
  margin: auto auto 0 auto;
  border-radius: 5px 5px 0 0;
  
}
.gamePuzzle span{
  margin: 1vh 3vw;
}
.slides{
  width: 30vw;
  height: 30vw;
  display: block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.slides p{
  color: white;
  background-color: rgba($color: #3E2D44, $alpha: .99);
  padding: 2vh;
  position: absolute;
  font-family: suez;
  bottom: 2vw;
  left: 0;
  text-shadow: 2px 2px #000000;
}
.slider{
  position: absolute;
  display: flex;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
  z-index: 20;
  height: fit-content;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}
.darkit{
  background-color: #785e81;
}
.namba{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1vw;
}
.alpha{
  position: absolute;
  left: 3px;
  bottom: 0;
  font-size: 1vw;
}
.cellit{
  position: relative;
  
 
  
}
.cellit img, #movingPiece{
  height: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: painted;
  
}
.possible{
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translatey(-50%);
  display: none;
}
.quening {
  position: absolute;
  background-color: rgba($color: #41454ebe, $alpha: .4);
  padding: 1vw;
  top: 50%;
  left: 50%;
  border-radius: 0.5vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transform: translateY(-50%) translateX(-50%);
  box-shadow: 0 10px 20px 0 rgba($color: #000000, $alpha: .1),
  0 0 5px 0 rgba($color: #000000, $alpha: .9);
  display: none;
  pointer-events: visible;
}
.quening img {
  height: 5vw;
  margin: 0 auto;
}
#movingPiece{
  position: absolute;
  display: none;
}
